.video-bkg {
	position: relative;
	display: flex;
	-moz-box-shadow: inset 0 4px 10px #000000;
	-webkit-box-shadow: inset 0 4px 10px #000000;
	box-shadow: inset 0 4px 10px #000000;
	flex-direction: column;
	height: 70vh;
	justify-content: center;
	text-align: center;
	align-items: center;
	overflow: hidden;

	video {
		height: 100%;
		width: 177.77777778vh; /* 100 * 16 / 9 */
		min-width: 100%;
		min-height: 56.25vw; /* 100 * 9 / 16 */
		position: absolute;
		left: 50%; /* % of surrounding element */
		top: 50%;
		transform: translate(-50%, -50%); /* % of current element */
		filter: grayscale(.5) brightness(0.45) contrast(1.05);
	}

	.video-bkg-video {
		display: block;
		width: 100%;
		background: $gray url('#{$images}/videoCover.jpg') no-repeat center center;
		background-size: cover;
	}
	.video-bkg-content {
		z-index: 10;
		background: rgba(darken($gray, 10%), .8);
		padding: 25px;
		border-radius: 3px;

		h2 {
			color: $secondaryColor;
			font-family: $sans-serif;
			margin-top: 0;
			@include font-size(38px);
			@media (min-width: 1324px) {
				@include font-size(44px);
			}
		}

		p {
			color: $white;
			hyphens: none;
			@media (min-width: 656px) {
				@include font-size(17px);
			}
			@media (min-width: 1024px) {
				@include font-size(20px);
				padding-left: 10%;
				padding-right: 10%;
			}
			@media (min-width: 1324px) {
				@include font-size(22px);
				padding-left: 15%;
				padding-right: 15%;
			}
		}
	}
}
